.add-benevole-view {
    -fx-pref-width: 1000.0;
}
Label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
TextField , PasswordField {
    -fx-padding: 0.5em;
}
.add-benevole-header {
    -fx-pref-height: 300.0;
    -fx-background-image: url("./../../../images/image-04.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.add-benevole-forms {
    -fx-background-color: #ffffff;
    -fx-pref-width: 500.0;
    -fx-pref-height: 400.0;
    -fx-text-fill: #212529;
    -fx-padding: 3em 5em;
}
.add-benevole-buttons {
    -fx-pref-height: 80.0;
    -fx-padding: 0 2em;
}
.add-benevole-buttons Button {
    -fx-padding: 0.5em 2em;
}
.error-label {
    -fx-text-fill: tomato;
    -fx-font-size: 12px;
    -fx-font-weight: 400;
    -fx-wrap-text: true;
    -fx-label: 0.5em;
}