.edit-user-view {
    -fx-background-color: #ffffff;
    -fx-padding: 2em;
}

.tab-pane-container {
    -fx-background-color: yellow;
}

.tab-title {
    -fx-padding: 1em;
    -fx-background-color: #ffffff;
}

.tab-container {
    -fx-background-color: #ffffff;
    -fx-padding: 1em;
}