.forgot-password-view {
    -fx-background-color: #FFFFFF;
}
.forgot-password-header {
    -fx-pref-height: 300.0;
    -fx-background-image: url("./../../../images/reset-password.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.forgot-password-container {
    -fx-pref-width: 500.0;
    -fx-max-width: 500.0;
    -fx-padding: 2em 0 0;
    -fx-spacing: 0.5em;
}
.forgot-password-container .label-text {
    -fx-font-size: 18px;
}
.forgot-password-container .label-error {
    -fx-text-fill: tomato;
    -fx-font-size: 13px;
    -fx-font-weight: 400;
    -fx-wrap-text: true;
    -fx-label: 0.5em;
}