

.button
{
-fx-text-fill : white;
-fx-background-color : #7f8c8d;
}
#btnajout{
	-fx-background-color : #3CCF4E;
}
#btnajout:hover{
	-fx-background-color : #7f8c8d;
}
#btnsup{
	-fx-background-color : red;
}
#btnsup:hover{
	-fx-background-color : #7f8c8d;
}

#btnmodif{
	-fx-background-color : #40A8C4;
}
#btnmodif:hover{
	-fx-background-color : #7f8c8d;	
}
.button:hover{
-fx-background-color : #7f8c8d;
}
.button:pressed
{
-fx-background-color :#7f8c8d;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #34495e;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #2c3e50;
}

.table-row-cell:selected {
    -fx-background-color:  #34495e;
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
